# =========================
# Django settings
# =========================
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
HTTPS=False

# =========================
# Superuser (Docker-compose)
# =========================
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin123

#Cuando DEBUG es False, el proyecto utiliza SQLite
# =========================
# Docker-compose
# =========================
#docker-compose up --build
#La base de datos se crea desde cero y toma estos valores
#Nota: si se cambian los valores hay que tumbar todo para que se apliquen los cambios al crearse de nuevo
#DB_NAME y MYSQL_DATABASE deben coincidir, así como DB_USER con MYSQL_USER y DB_PASSWORD con MYSQL_PASSWORD

#DB_NAME=portfolio
#DB_USER=user
#DB_PASSWORD=super_secure_password
#DB_HOST=db
#DB_PORT=3306

#MYSQL_DATABASE=portfolio
#MYSQL_USER=user
#MYSQL_PASSWORD=super_secure_password
#MYSQL_ROOT_PASSWORD=very_strong_root_password

# =========================
# Dockerfile (mySQL)
# =========================
#El proyecto usa la BD creada previamente dentro de la PC
#docker build -t portfolio .
#docker run -p 8000:8000 --env-file .env portfolio

#DB_NAME=portfolio
#DB_USER=root
#DB_PASSWORD=password
#DB_HOST=host.docker.internal
#DB_PORT=3306

# =========================
# Entorno de producción simulado
# =========================
#Cuando se ejecuta con DEBUG False
#Se simula el entorno de producción y se usa la BD creada previamente en la PC
#py manage.py migrate
#py manage.py collectstatic
#waitress-serve --port=8000 Portfolio.wsgi:application

#DB_NAME=portfolio
#DB_USER=root
#DB_PASSWORD=password
#DB_HOST=localhost
#DB_PORT=3306